@model TextShare.Domain.Models.EntityModels.ShelfModels.ShelfDetailModel

@{
    ViewData["Title"] = "Детальная информация о полке";
}

<h2>@Model.Name</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Описание</h5>
        <p class="card-text">@Model.Description</p>

        <h5 class="card-title">Дата создания</h5>
        <p class="card-text">@Model.CreatedAt.ToString("dd.MM.yyyy HH:mm")</p>

        <h5 class="card-title">Автор</h5>
        <p class="card-text">
            <a href="@Url.Action("DetailsUserByUserName", "User", new { username = @Model.Creator.UserName})">@Model.Creator.UserName</a>
        </p>
        <p class="card-text">Файлов на полке: @Model.TextFiles.Count</p>

        @if (!string.IsNullOrEmpty(Model.ImageUri))
        {
            <div style="max-width: 400px; max-height: 400px; overflow: hidden;">
                <img src="@Model.ImageUri" alt="Изображение полки" class="img-fluid" style="width: 100%; height: auto; border-radius: 10px;">
            </div>
        }
    </div>
</div>

<a asp-action="FilesInShelf" asp-route-shelfId="@Model.ShelfId" class="btn btn-outline-primary mt-3">Файлы на полке</a>

@if(Model.CreatorId == Model.CurrentUserId)
{
    <a asp-controller="TextFile" asp-action="Upload" asp-route-shelfId="@Model.ShelfId" 
    class="btn btn-outline-success mt-3">Добавить файл</a>
    <a asp-action="EditShelf" asp-route-id="@Model.ShelfId" class="btn btn-primary mt-3">Редактировать</a>
    <a asp-action="ShelfAccessRuleEdit" asp-controller="AccessControl" 
    asp-route-shelfId="@Model.ShelfId" class="btn btn-warning mt-3">Управление доступом</a>
    <a asp-action="DeleteShelf" asp-controller="Shelves" asp-route-id="@Model.ShelfId" class="btn btn-danger mt-3">Удалить</a>
}
else
{
    <a class="btn btn-danger mt-3"
       asp-action="Add" asp-controller="Complaint" asp-route-shelfId="@Model.ShelfId">Пожаловаться</a>
}
