@model IPagedList<Shelf>

@{
    string Title = "Публичные полки пользователя";
    ViewData["Title"] = Title;

    string? viewedUsername = ViewData["viewedUsername"]?.ToString();
}

<div class="d-flex align-items-start">
    <!-- Результат справа -->
    <div class="w-50 border rounded p-3 overflow-auto ms-3">
        <h2>
            Полки
            <a href="@Url.Action("DetailsUserByUserName", "User", new { username = viewedUsername })">@viewedUsername</a>
        </h2>

        @if (Model.Any())
        {
            int shelfCounter = (Model.PageNumber - 1) * Model.PageSize + 1;

            @foreach (var shelf in Model)
            {
                <div class="d-flex align-items-center mb-2">
                    <h4 class="mb-0 me-3">@shelfCounter. @shelf.Name</h4>
                    <a href="@Url.Action("DetailShelf", "Shelves", new { id = shelf.ShelfId })"
                       target="_blank"
                       class="btn btn-primary btn-sm me-2">
                        Открыть
                    </a>
                </div>
                shelfCounter++;
            }

            @Html.PagedListPager(
                     Model,
                     page => Url.Action("UserShelvesAvAll", new { username = viewedUsername, page }),
                     PagedListRenderOptions.OnlyShowFivePagesAtATime
                     )
        }
        else
        {
            <p>У пользователя нет доступных полок.</p>
        }
    </div>
</div>
